@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

a {
    color: black;
    text-decoration: none;
}

ul {
    list-style: none;
}

img {
    vertical-align: top;
    border: 0;
}

body {
    font-family: 'Noto Sans KR', sans-serif;
    color: #333333;
}

.clearFix::after {
    content: "";
    display: block;
    clear: both;
}

/* ---------------------------------------------------g_modal  */

#g_modal {
    position: fixed;
    top: 0;
    right: -2000px;
    /* display: none; */
    width: 100%;
    height: 100vh;
    background-color: #231f20;
    z-index: 5;
    background-size: cover;
    background-repeat: no-repeat;

    overflow: hidden;
}


#g_modal>p {
    background-color: #c90043;
    display: inline-block;
    width: 80px;
    height: 80px;
    position: absolute;
    top: 6.2%;
    right: 5%;

    text-align: center;
    line-height: 58px;
    color: white;
    font-size: 5em;
    font-weight: 300;
    cursor: pointer;
    z-index: 1;
}

#g_modal .move_img {
    display: inline-block;
    width: 38%;
    height: 102%;
    background-image: url("images/modal/mo02.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: -20px;
    left: 0;
    animation: displace 3s alternate-reverse infinite;
    display: none;
}

@keyframes displace {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(20px);
    }
}

#g_modal .modal01 {
    width: 300px;
    height: 800px;
    position: absolute;
    top: 5%;
    left: 45%;
    /* left: 0%; */
}

#g_modal .modal01>li {
    font-size: 1.5em;
    font-weight: 200;
    padding: 20px 0;
    cursor: pointer;
    color: rgb(247, 247, 247);
}

#g_modal .modal02 {
    width: 650px;
    height: 100%;
    position: absolute;
    right: 9%;
    top: 0;
}

#g_modal .modal02>ul {
    position: absolute;
    top: 7%;
    left: 0;
    width: 500px;
    display: none;
}


#g_modal .modal02>ul.mo02_on {
    display: block;
    font-weight: 100;
}

#g_modal .modal02>ul.g_float>li {
    float: left;
}

#g_modal .modal02>ul>li {
    width: 230px;
    font-size: 1.2em;
    font-weight: 200;
    padding: 10px;
    cursor: pointer;
    color: rgb(247, 247, 247);

}

#g_modal .modal01>li.mo01_on,
#g_modal .modal01>li:hover {
    color: #ff3333;
}

#g_modal .modal02>ul>li {
    transition: all 0.3s;
}

#g_modal .modal02>ul>li:hover {
    /* color: #fd4040; */
    transform: translateX(-20px);
}

/* -----------------bottom ---------------*/


#header .bottom {
    width: 100%;
    height: 102px;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.3s;
    overflow: hidden;
    z-index: 5;
}

#header .bottom.current,
#header .bottom:hover {
    background-color: white;
    position:fixed;
}

#header .bottom .b_top {
    width: 100%;
    height: 102px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    transition: all 0.4s;
}

#header .bottom .b_top .gnb {
    width: 1476px;
    height: 41px;
    margin: 30px auto;
    padding-bottom: 30px;
    border-bottom: 1px solid #f9f9f9;
    color: #f9f9f9;
}

#header .bottom.current .b_top .gnb,
#header .bottom:hover .b_top .gnb {
    border-bottom: 1px solid #eeeeeeb7;
}



/* ---g_logo */
#header .bottom .b_top .gnb .g_logo {
    float: left;
    display: flex;
    justify-content: space-between;
    width: 150px;
    /* width: 200px; */
    height: 41px;
    margin-left: 20px;
}

#header .bottom .b_top .gnb .g_logo .l_wh {
    width: 56px;
    height: 41px;
    background-image: url("images/main/logo_wh.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#header .bottom.current .b_top .gnb .g_logo .l_wh,
#header .bottom .b_top:hover .gnb .g_logo .l_wh {
    background-image: url("images/main/logo_red.png");
}

#header .bottom .b_top .gnb .g_logo .n_wh>a {
    color: #f9f9f9;
    font-size: 16pt;
    line-height: 41px;
}

#header .bottom.current .b_top .gnb .g_logo .n_wh>a,
#header .bottom .b_top:hover .gnb .g_logo .n_wh>a {
    color: #333333;
}

/* ---g_list */
#under{
    position: absolute;
    top:0;
    left:0;
    height: 4px;
    background-color: pink;
    z-index: 5555;
}
#header .bottom .b_top .gnb .g_list {
    height: 41px;
    float: left;
    margin-left: 75px;
}

#header .bottom .b_top .gnb .g_list li {
    width: 120px;
    float: left;
    line-height: 41px;
    text-align: center;
}

#header .bottom .b_top .gnb .g_list li>a {
    color: #f9f9f9;
}

#header .bottom.current .b_top .gnb .g_list li>a,
#header .bottom:hover .b_top .gnb .g_list li>a {
    color: #333333;
}

#header .bottom .b_top .gnb .g_list li>a::after {
    display: block;
    content: "";

    width: 0;
    border-bottom: 2px solid #ff3333;
    position: relative;
    top: 29px;
    left: 0;
    z-index: 5;
    transition: all 0.2s; 
} 

#header .bottom .b_top .gnb .g_list li.g_list_on>a::after,
#header .bottom .b_top .gnb .g_list li:hover>a::after {
    width: 100%;
    left: 0%;
}

#header .bottom .b_top .gnb .g_list li.g_list_on>a,
#header .bottom .b_top .gnb .g_list li:hover>a {
    color: #ff3333;
}



/* ---g_info */
#header .bottom .b_top .gnb .g_info {
    float: left;
    display: flex;
    justify-content: space-between;
    width: 180px;
    line-height: 41px;
    font-size: 11pt;
    margin-left: 200px;
}

#header .bottom .b_top .gnb .g_info li>a>span {
    font-size: 8pt;
    margin-left: 5px;
}

#header .bottom.current .b_top .gnb .g_info li>a,
#header .bottom:hover .b_top .gnb .g_info li>a {
    color: #333333;
}

#header .bottom:hover .b_top .gnb .g_info li:hover>a {
    color: #ff3333;
}

#header .bottom .b_top .gnb .g_info li>a {
    color: #f9f9f9;
}


/* ---g_icons*/
#header .bottom .b_top .gnb .g_icons {
    /* background-color: blueviolet; */
    width: 60px;
    height: 56px;
    float: right;
    display: flex;
    justify-content: space-between;
    margin-top: 14px;
    margin-right: 20px;
}

#header .bottom .b_top .gnb .g_icons>p {
    cursor: pointer;
}

#header .bottom .b_top .gnb .g_icons>p {
    font-size: 15pt;
    margin-top: -7px;
}

#header .bottom.current .b_top .gnb .g_icons>p,
#header .bottom:hover .b_top .gnb .g_icons>p {
    color: #333333;
}

#header .bottom .b_top .gnb .g_icons>p:hover {
    color: #ff3333;
}


/* ---g_subAll */
#header .bottom .b_top .g_subAll .g_sub {
    width: 900px;
    height: 250px;
    position: absolute;
    top: 102px;
    left: 47.6%;
    transform: translateX(-50%);
    display: none;
}

#header .bottom .b_top .g_subAll .g_sub.g_sub_on {
    display: block;
}

#header .bottom .b_top .g_subAll .g_sub>ul {
    float: left;
    margin-top: 30px;
    margin-left: 30px;
    width: 450px;
    height: 200px;
}

#header .bottom .b_top .g_subAll .g_sub>ul>li {
    float: left;
    width: 160px;
    padding-right: 60px;
}


#header .bottom .b_top .g_subAll .g_sub>ul>li>a {
    display: inline-block;
    font-size: 12pt;
    padding-top: 13px;
}

#header .bottom .b_top .g_subAll .g_sub>ul>li:hover>a {
    color: #ff3333;
}


#header .bottom .b_top .g_subAll .g_sub>p {
    width: 343px;
    height: 243px;
    background-image: url("images/main/dong_3.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    float: right;
    margin: 5px;
    margin-top: 20px;
    box-shadow: 1px 2px 8px rgba(207, 207, 207, 0.432);
}


/* ---------------section----------------------------------------------- */
#section .main {
    width: 100%;
    height: 1080px;
    overflow: hidden;
}

/* ---ma_back */
#section .main .ma_back {
    width: 400%;
    height: 1080px;
    /* margin-left: -100%; */
}

#section .main .ma_back>div {
    width: 25%;
    height: 1080px;
    float: left;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#section .main .ma_back .ba01 {
    background-image: url("images/main/main_05.png");
}

#section .main .ma_back .ba02 {
    background-image: url("images/main/main_03.png");
}

#section .main .ma_back .ba03 {
    background-image: url("images/main/main_01.jpg");
}

#section .main .ma_back .ba04 {
    background-image: url("images/main/maIn_06-1.png");
}

/* ---ma_text */
#section .main .ma_back div .ma_text {
    width: 600px;
    margin-top: 350px;
    margin-left: 55%;
    color: white;
}

#section .main .ma_back div .ma_text>h1 {
    font-size: 40pt;
    margin-bottom: 80px;
    font-weight: 500;
    opacity: 0;
    line-height: 60px;
}

#section .main .ma_back div .ma_text>p {
    font-size: 18pt;
    font-weight: 300;
    opacity: 0;
    line-height: 32px;

}

/* ---ma_page */
#section .main .ma_page {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);

}

#section .main .ma_page>li {
    float: left;
    margin: 0 7px;
    cursor: pointer;
    width: 70px;
    height: 5px;
    background-color: #333333;
}

#section .main .ma_page>li.page_on,
#section .main .ma_page>li:hover {
    background-color: white;

}

/* ---top_btn */

#section .main .top_btn {
    cursor: pointer;
    position: fixed;
    bottom: 50px;
    right: 120px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #30303096;
    color: white;
    font-size: 3em;
    line-height: 80px;
    text-align: center;
    z-index: 2;
}


/* ---ma_indi */

#section .indi {
    width: 10px;
    height: 160px;
    position: fixed;
    top: 45%;
    right: 100px;
    z-index: 4;
}

#section .indi>li {
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background-color: #ff3333;
    margin: 20px 0;
    position: relative;
    cursor: pointer;
}

#section .indi>li>a {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

#section .indi>li>a::after {

    display: block;
    /* display: inline-block; */
    content: "";

    border-radius: 50%;
    border: 1px solid #ff3333;
    position: absolute;
    top: -4px;
    left: -4px;

    width: 15px;
    height: 15px;
    opacity: 0;
    background-color: white;
    z-index: -1;
}


#section .indi>li:hover>a::after,
#section .indi>li>a.in_on::after {
    animation: big_circle 1s infinite alternate-reverse;
    display: block;

}

@keyframes big_circle {

    to {

        opacity: 1;
    }
}

/* ---ma_btn */
#section .main:hover .ma_btn>p {
    display: block;
}

#section .main .ma_btn>p {
    cursor: pointer;
    position: absolute;
    top: 50%;
    color: #ffffff;
    font-size: 2em;
    /* background-color: #30303096; */
    border-radius: 50%;
    width: 70px;
    height: 70px;
    line-height: 70px;
    text-align: center;
    display: none;
}

#section .main .ma_btn>p:hover {
    /* background-color: #ff3333; */
    background-color: #cacaca3d;
}

#section .main .ma_btn .l_ma_btn {
    left: 200px;
}

#section .main .ma_btn .r_ma_btn {
    right: 200px;
}



/* ------------------------------------------brand--------------------------------- */
#section .brand {
    position: relative;
    width: 100%;
    height: 1080px;
    overflow: hidden;
}

/* ----------------------------br_btn---------------------------------------- */
#section .brand .br_btn>p:hover {
    transform: translateY(-5px);
}

#section .brand .br_btn>p {
    width: 80px;
    height: 10px;
    background-color: rgb(255, 72, 72);
    position: absolute;
    top: 60%;
    cursor: pointer;
    text-align: center;
    line-height: 0px;
    font-weight: 300;
    font-size: 18pt;
    color: #fdfdfd;
}

#section .brand .br_btn>p:nth-child(1) {
    left: 23%;
}

#section .brand .br_btn>p:nth-child(2) {
    left: 28%;
}

/* ---br_text */
#section .brand .br_text {
    width: 500px;
    height: 300px;
    color: #fdfdfd;
    position: absolute;
    top: 320px;
    left: 223px;
    z-index: 2;
}

#section .brand .br_text h5 {
    font-size: 17pt;
    font-weight: 400;
}

#section .brand .br_text h1 {
    font-size: 40pt;
    padding-bottom: 40px;
    font-weight: 500;
}

#section .brand .br_text p {
    font-size: 18pt;
    font-weight: 300;
    margin-bottom: -4px;
}

/* ---br_backAll */
#section .brand .br_backAll>li {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1080px;
    background-attachment: fixed;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    display: none;
}

#section .brand .br_backAll>li.br_backOn {
    display: block;
}

#section .brand .br_backAll>.bA01 {
    background-image: url("images/brand/b002-1.png");
}

#section .brand .br_backAll>.bA02 {
    background-image: url("images/brand/b006-1.png");
}

#section .brand .br_backAll>.bA03 {
    background-image: url("images/brand/b007-1.png");
}

#section .brand .br_backAll>.bA04 {
    background-image: url("images/brand/b001-1.png");
}

#section .brand .br_backAll>.bA05 {
    background-image: url("images/brand/b003-1.png");
}


/* ---br_back */

#section .brand .br_back {
    position: absolute;
    top: -80px;
    right: 219px;
    width: 855px;
    height: 2050px;
}

#section .brand .br_back>li:nth-child(even) {
    margin-left: 475px;
    background-color: #fdfdfd;
    opacity: 1;
}

#section .brand .br_back>li {
    width: 381px;
    height: 506px;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.5s;
    margin-top: -80px;
    background-color: rgba(255, 255, 255, 0.466);
    border: 1px solid rgba(218, 218, 218, 0.39);
    /* opacity: 0.5; */
    backdrop-filter: blur(5px);
}


#section .brand .br_back>li.br_backOn {
    color: red;
}

#section .brand .br_back>li:hover>div>img {
    opacity: 1;

}

#section .brand .br_back>li>div>img {
    margin: 50px 0 40px 0;
    transform: translateX(32px);
    opacity: 0.5;
}

#section .brand .br_back .back01 .br_text02>img {
    transform: translateX(80px);
}

#section .brand .br_back>li:hover {
    background-color: #fdfdfd;
    opacity: 1;
}

/* ---br_text02 */
#section .brand .br_back>li>.br_text02 {
    padding: 30px 33px;
}


#section .brand .br_back>li:nth-child(2)>.br_text02>img,
#section .brand .br_back>li:nth-child(2)>.br_text02>span,
#section .brand .br_back>li:hover>.br_text02>span {
    color: #ff3333;
    opacity: 1;
    transition: all 0.3s;
}

#section .brand .br_back>li>.br_text02>span.card_num {
    margin-left: 230px;
}

/* #section .brand .br_back>li:hover>.br_text02>h3 {
    color: #231f20;
} */
#section .brand .br_back>li>.br_text02>h3 {
    color: #231f20;
    /* color: #fdfdfd; */
    font-size: 19pt;
}

/* #section .brand .br_back>li:hover>.br_text02>h4 {
    color: #535051;
} */
#section .brand .br_back>li>.br_text02>h4 {
    color: #535051;
    /* color: #fdfdfd; */
    font-size: 14pt;
    margin-top: -2px;
    font-weight: 500;
}

#section .brand .br_back>li>.br_text02>p {
    font-size: 12pt;
    margin-top: 19px;
    letter-spacing: -1px;
}

/*------------------------------------new_pro------------------------- */
#section .new_pro {
    position: relative;
    width: 100%;
    height: 1080px;
}

/* ---l_new_text */
#section .new_pro .l_new_text {
    width: 500px;
    height: 100px;
    padding-top: 160px;
    padding-left: 223px;
}


#section .new_pro .l_new_text>h5 {
    font-weight: 400;
    font-size: 17pt;
    color: #403b3b;
}

#section .new_pro .l_new_text>p {
    font-size: 20pt;
    margin-top: 26px;
    color: #8c8c8c;
}

#section .new_pro .l_new_text>h1 {
    color: #383838;
    font-size: 40pt;
    font-weight: 500;
}




/* ---new_photos */

#section .new_pro .new_photos>li {
    width: 587px;
    height: 374px;
    position: absolute;
    bottom: 200px;
    left: 0;
    transform: translateX(-100%);
    transition: all 0.7s;
}

#section .new_pro .new_photos>li.new_p_on {
    transform: translateX(0%);
}

/* ---r_new_text */
#section .r_new_text {
    position: absolute;
    right: 224px;
    bottom: 200px;
}

#section .r_new_text>li {
    width: 972px;
    height: 105px;
    line-height: 105px;
    border-bottom: 1px solid gray;
    display: flex;
}

#section .r_new_text>li>h4 {
    color: #848484;
    margin-left: 30px;
    font-weight: 400;
    width: 100px;
}

#section .r_new_text>li:hover>p {
    background-color: #c42430;
    animation: ggam 0.3s 2;
}

@keyframes ggam{
    from {
        background-color: #cccccc;
    }
    to {
        background-color: #c42430;
    }

}

#section .r_new_text>li>p {
    width: 52px;
    height: 52px;
    margin: 0 60px;
    margin-top: 27px;
    background-color: #cccccc;
    border-radius: 50%;
    transition: all 0.5s;
}

#section .r_new_text>li>p>img {
    margin-left: 8px;
    margin-top: 9px;
}

#section .r_new_text>li>h3 {
    /* float: left; */
    width: 550px;
    color: #383838;
    font-size: 17pt;
    font-weight: 400;
}

#section .r_new_text>li>h3 span {
    font-size: 14pt;
}

/* #section .r_new_text>li.new_t_on>a, */
#section .r_new_text>li:hover>a {
    background-image: url("images/new/new_arrow_red.png");
    margin-top: 46px;
}

#section .r_new_text>li>a {
    width: 21px;
    height: 18px;
    margin-top: 48px;
    margin-left: 50px;

    background-image: url("images/new/new_arrow_gray.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/* ---------------------------------------media--------------------------------- */
#section .media {
    width: 100%;
    height: 1080px;
    position: relative;
    overflow: hidden;
}

/* ---l_me_text */
#section .media .l_me_text {
    width: 500px;
    height: 100px;
    padding-top: 160px;
    padding-left: 223px;
    margin-bottom: 60px;
}

#section .media .l_me_text>h5 {
    font-size: 17pt;
    color: #403b3b;
    font-weight: 400;
}

#section .media .l_me_text>h1 {
    color: #383838;
    font-size: 40pt;
    font-weight: 500;
}



/* ---b_me_list */
#section .media .l_me_list {
    width: 472px;
    height: 605px;
    margin-left: 223px;
}

#section .media .l_me_list>li {
    width: 428px;
    height: 94px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.973);
    margin: 9px 0;
    padding: 22px;
    transition: all 0.2s;
    cursor: pointer;
}

#section .media .l_me_list>li.media_on01,
#section .media .l_me_list>li:hover {
    background-color: #ff3333;
    color: #f9f9f9;
}

#section .media .l_me_list>li:hover #me_point,
#section .media .l_me_list>li.media_on01 #me_point {
    color: yellow;

}


#section .media .l_me_list>li.media_on01>span,
#section .media .l_me_list>li.media_on01>h2,
#section .media .l_me_list>li.media_on01>p,
#section .media .l_me_list>li:hover>span,
#section .media .l_me_list>li:hover>h2,
#section .media .l_me_list>li:hover>p {
    color: #f9f9f9;
}

#section .media .l_me_list>li>p {
    color: #231f20;
    font-size: 10pt;
}

#section .media .l_me_list>li.media_on01>h2::after,
#section .media .l_me_list>li>h2::after {
    width: 431px;
    border-bottom: 1px solid #c9c9c9;
    padding: 5px 0;
    content: "";
    display: block;
}

#section .media .l_me_list>li>h2 {
    color: #231f20;
    font-size: 22pt;
    font-weight: 400;
}

#section .media .l_me_list>li>h2>span {
    color: #c42430;
}

#section .media .l_me_list>li>span {
    display: inline-block;
    color: #939393;
    padding-top: 5px;
    font-size: 11pt;
}

/* ---r_me_list */
#section .media .r_me_list {
    width: 100%;
    height: 1080px;
    position: absolute;
    top: 0px;
    left: 0;
    z-index: -1;
}

/* ---------------------------------r_me_list background-img */
#section .media .r_me_list>li {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1080px;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    display: none;
}

#section .media .r_me_list>li.media_on02 {
    display: block;
}

#section .media .r_me_list>li.me_r01 {
    /* background-image: url("images/media/bbbb.png"); */
    background-image: url("images/media/media03.png");
}

#section .media .r_me_list>li.me_r02 {
    background-image: url("images/media/media02.png");
}

#section .media .r_me_list>li.me_r03 {
    background-image: url("images/media/media01.png");
}

#section .media .r_me_list>li.me_r04 {
    background-image: url("images/media/media04.png");
}

/* ---------------------------------r_me_list background-mp4 */
#section .media .r_me_list>li>p {
    position: absolute;
    top: 20%;
    left: 38%;
    z-index: 1;
}

#section .media .r_me_list>li>p>video {
    object-fit: cover;
    width: 966px;
    height: 725px;
}



/* ---me_name */
#section .media .me_name {
    position: absolute;
    top: 23%;
    left: 39.3%;
    width: 920px;
    /* height: 40px; */
    border-bottom: 1px solid #f7f7f7c4;
}

#section .media .me_name>img {
    width: 28px;
    height: 22px;
    float: left;
    margin-left: 13px;
    margin-top: -8px;
}

#section .media .me_name>p {
    color: #f7f7f7c4;
    float: left;
    margin-left: 10px;
    font-size: 17pt;
    font-weight: 300;
    margin-top: -15px;
    padding-bottom: 15px;
}

/* --------------------------------news----------------------------------- */
#section .news {
    width: 100%;
    height: 1080px;
    background-color: #bebebe;
    background-image: url("images/news/news02.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

/* ---l_news_text */
#section .news .l_news_text {
    width: 500px;
    height: 100px;
    padding-top: 160px;
    padding-left: 223px;
    margin-bottom: 60px;
}

#section .news .l_news_text>h5 {
    color: #403b3b;

    font-weight: 400;
    font-size: 17pt;
}

#section .news .l_news_text>h1 {
    color: #383838;
    font-size: 40pt;
    font-weight: 500;
}





/* ---r_news_boxes */

#section .r_news_boxes {
    width: 840px;
    height: 600px;
    position: absolute;
    right: 224px;
    top: 300px;
}

#section .r_news_boxes>li:hover {
    background-color: #fffaeb;

}

#section .r_news_boxes>li {
    cursor: pointer;

    width: 344px;
    height: 114px;
    background-color: #fff6d9;
    border: 1px solid #ffdf7e;
    border-radius: 20px;
    float: left;
    margin: 10px;
    padding: 28px 23px;
    position: relative;
}

/* ---news_cube */
#section .r_news_boxes>li .news_cube01 {
    color: #231f20;
    background-color: #fdb834;
    display: inline-block;
    padding: 5px 10px;
    border-radius: 30px;
    margin-top: 6px;
    margin-bottom: 20px;
    color: #fafafa;
    transition: all 0.2s;
}

#section .r_news_boxes>li:hover .news_cube01 {
    background-color: #ff3333;
}

#section .r_news_boxes>li .news_cube02 {
    color: #505050;
    width: 342px;
    font-weight: 400;
}



#section .r_news_boxes>li>span {
    background-color: #fdb834;
    display: inline-block;
    border-radius: 50%;
    width: 42px;
    height: 42px;
    position: absolute;
    top: 28px;
    right: 28px;

    background-image: url("images/news/news_arrow.png");
    background-position: center;
    background-repeat: no-repeat;
    transition: all 0.2s;
}

#section .r_news_boxes>li:hover>span {
    background-image: url("images/news/news_arrow_red.png");
    background-color: #ff3333;

}


/* -------------------------------network------------------------------ */
#section .network {
    width: 100%;
    height: 1080px;
}

/* ---t_net_text */
#section .network .t_net_text {
    padding-top: 160px;
    margin-bottom: 115px;

    width: 1000px;
    margin: 0 auto;
    margin-bottom: 115px;
    text-align: center;
}

#section .network .t_net_text>p {
    font-size: 19pt;
    color: #565051;
    margin-bottom: -6px;
    font-weight: 350;
}

#section .network .t_net_text>span {
    font-size: 19pt;
    color: #565051;
    font-weight: 350;
}

#section .network .t_net_text>h1 {
    color: #231f20;
    font-size: 40pt;
    font-weight: 400;
    margin-bottom: 40px;
}

/* ---b_net_icons */
#section .network .b_net_icons {
    width: 1100px;
    height: 300px;
    overflow: hidden;
    margin: 0 auto;
    margin-top: 40px;
    position: relative;
}

#section .network .b_net_icons>ul {
    width: 2900px;
    height: 120px;
    position: absolute;
    top: 0px;
    left: 0;
}

#section .network .b_net_icons>ul.net01 {
    animation: net01 50s linear infinite;
    display: flex;
}

#section .network .b_net_icons>ul.net02 {
    top: 140px;
    display: flex;
    animation: net02 50s linear infinite;
}


#section .network .b_net_icons>ul>li {
    padding: 0 60px;
    margin: auto 0;
    text-align: center;
}


@keyframes net01 {
    0% {
        left: 0%;
    }

    100% {
        left: -132%;
    }
}

@keyframes net02 {
    0% {
        left: -132%;
    }

    100% {
        left: 9%;
    }
}


/* ---icons01 */
#section .network .b_net_icons .net01 {}

/* ---icons02 */

#section .network .b_net_icons .net02 {
    margin-top: 40px;
}









/* ------------------------------------footer----------------------------- */
#footer {
    width: 100%;
    height: 335px;
    /* height: 1080px; */
    background-color: #231f20;

}

#footer>div {
    color: #b4b3b4;
    /* margin-top: 50px; */
    margin-top: 80px;
    float: left;
}

/* ---l_foo_text */

#footer .l_foo_text {
    margin-left: 250px;
    /* margin-top: 30px; */
    margin-top: 50px;
}

#footer .l_foo_text>span {
    display: inline-block;
    margin-bottom: 25px;
}

#footer .l_foo_text>p {
    font-size: 13pt;
    padding: 3px 0;
}

/* ---r_foo_text */
#footer .r_foo_text {
/*    background-color: #ffa52e;*/
    width: 840px;
/*    height: 260px;*/
    display: flex;
    justify-content: space-between;
    margin-left: 110px;
    font-size: 13pt;
}

#footer .r_foo_text>div>h4 {
    color: #ed1d24;
    font-size: 15pt;
}

#footer .r_foo_text>div>ul {
    margin-top: 18px;
}

#footer .r_foo_text>div>ul>li {
    padding: 3px 0;
}

#footer .r_foo_text>div>ul>li>a {
    color: #b4b3b4;
}

/* ---site */
#footer .site {
    width: 270px;
/*    height: 260px;*/
    position: relative;
}

#footer .site>ul>li {
    width: 125px;
    margin: 3px;
}

#footer .site .back_circle {
    position: absolute;
    top: 41px;
    right: -10px;
}

#footer .site .back_circle02 {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    top: 114px;
    right: 65px;
}

#footer .site .site_li .back_circle02>a>img {
    margin-left: 2px;
    margin-top: -4px;
}